

<h3>Champs lexicaux
<small><button data-target="modal1" class="btn modal-trigger right"><i class="material-icons">edit</i></button></small>
</h3>
<div class="divider"></div>

<ul class="collection">
<% @themes.each do |theme| %>
  <li class="collection-item">
    <%= link_to theme.name, theme_path(theme) %>

    <% if theme.definitions.any? %>
        <span class="new badge teal" data-badge-caption="">
          <%= theme.definitions.count %> termes
        </span>
    <% end %>

  </li>
<% end %>
</ul>


<%= link_to 'New Theme', new_theme_path %>
