

<h3>Champs lexicaux
<small>
<button data-target="modaltheme" class="btn modal-trigger right"><i class="material-icons">edit</i></button>
</small>
</h3>
<div class="divider"></div>

<ul class="collection">
<% @themes.each do |theme| %>
  <li class="collection-item">
    <%= link_to theme.name, theme_path(theme) %>

    <% if theme.definitions.any? %>
        <span class="new badge teal" data-badge-caption="">
          <%= theme.definitions.count %> termes
        </span>
    <% end %>

  </li>
<% end %>
</ul>



<!-- Modal Structure -->
  <div id="modaltheme" class="modal bottom-sheet">
    <div class="modal-content">
      
      <%= render "themes/form" %>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>