<h3><%= @theme.name.titleize %>
<small>
<button data-target="modal1" class="btn modal-trigger right"><i class="material-icons">edit</i></button>
</small>
</h3>
<div class="divider"></div>

<ul class="collection">
<% @theme.definitions.joins(:word).order('name').each do |definition| %>
  <li class="collection-item">
    <%= link_to definition.name.titleize, word_path(definition.word) %>
  </li>
<% end %>
</ul>
