<h3 class="center-align"><%= @theme.name.titleize %>
<!--<small>
<button data-target="modaltheme" class="btn modal-trigger right" href="/words/new"><i class="material-icons">edit</i></button>
</small> -->
</h3>
<div class="divider"></div>

<ul class="collection">
<% @theme.definitions.joins(:word).order('name').each do |definition| %>
  <li class="collection-item">
    <%= link_to definition.name.titleize, word_path(definition.word) %>
  </li>
<% end %>
</ul>


