



<li>
      <div class="collapsible-header">
      	<i class="material-icons">subject</i>Définitions ajoutées
      </div>
      <div class="collapsible-body">
      	
      	<ul class="collection">
				
			<% @user.definitions.sort_by(&:name).each do |definition| %>
				<li class="collection-item">
					<small>Définition de <%= link_to definition.word.name, word_path(definition.word) %></small>
          			<br><%= definition.content %> <small>(<%= link_to "voir", definition_path(definition)  %> | <%= link_to "modifier", edit_definition_path(definition) %>)</small>
				</li>
			<% end %>


			
		</ul>

      	



      </div>
</li>