<li>
      <div class="collapsible-header">
      	<i class="material-icons">language</i>Traductions ajoutées
      </div>

      <div class="collapsible-body">
      	<ul class="collection">
				
			<% @user.definition_translations.where.not(definition_id: nil).sort_by(&:name).each do |translation| %>
				
				<li class="collection-item">
					<small>Traduction de <%= link_to translation.word.name, word_path(translation.word) if translation.definition && translation.word %></small>
          			<br><%= translation.definition.word.name %>
          			(<%= link_to "modifier l'expression", edit_word_path(translation.definition.word) %> | <%= link_to "modifier la traduction", edit_definition_translation_path(translation) %>)</small>
				</li>
			<% end %>
			
		</ul>
      </div>
    </li>

