
<div class="container">
<h1 class="home-page-search center-align"><span class="bigger monoko">Monoko</span>
<br><small><small><small><i>Sepela na boyebi, ebomaka te.</i></small></small></small>
</h1>
<div class="search-middle center-align">

      <div class="row">
        <div class="input-field col s12">
          <%= form_for @search_bar do |s| %>
            <div class="field">
              <i class="material-icons prefix">search</i>
              <%= s.text_field :keywords, label: false, placeholder: "Luka ndimbola na Lingala to libongoli na Français / Rechercher une définition ou une traduction en Lingala" %>
            </div>

            <!--<div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">First Name</label>
            </div> -->
  
  
            <!--<div class="actions"><%= s.submit "Trouver", class: "btn" %></div>-->
            <!--<small>Luka ndimbola na Lingala to libongoli na Français / Rechercher une définition ou une traduction en Lingala</small>-->
  
          <% end %>



         <!-- <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Recherchez une définition ou une traduction</label>-->
        </div>
      
  </div>

</div>

</div>
<script type="text/javascript">
	$('input.autocomplete').autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'http://placehold.it/250x250'
    }
  });
</script>
