
<div class="home-page-search center-align">
<h1 class="center-align">Monoko
<br><small><small><small><i>devise ou slogan de Monoko à insérer</i></small></small></small>
</h1>
<div class="search-middle">

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Recherchez une définition ou une traduction</label>
        </div>
      
  </div>

</div>
</div>

<script type="text/javascript">
	$('input.autocomplete').autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'http://placehold.it/250x250'
    }
  });
</script>
