
<div class="container">
<h1 class="home-page-search center-align"><span class="bigger monoko">Monoko</span>
<br><small><small><small><i>devise ou slogan de Monoko à insérer</i></small></small></small>
</h1>
<div class="search-middle center-align">

      <div class="row">
        <div class="input-field col s12">
          <%= form_for @search do |s| %>
  <div class="field">
   
    <%= s.text_field :keywords, label: false, placeholder: "Recherchez une définition ou une traduction" %>
  </div>
  
  
  <div class="actions"><%= s.submit "Trouver", class: "btn" %></div>
  
<% end %>



         <!-- <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Recherchez une définition ou une traduction</label>-->
        </div>
      
  </div>

</div>

</div>
<script type="text/javascript">
	$('input.autocomplete').autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'http://placehold.it/250x250'
    }
  });
</script>
