<h3 class="center-align">Dictionnaire français - lingala <br><small><small><%= link_to "Voir le dictionnaire lingala - français", dico_li_path, class: "text-muted" %></small></small></h3>
<div class="divider"></div>

 <div class="collection">
    <% @words.each do |word| %>
      <div class="collection-item">
      <h5><%= link_to word.name.titleize, word_path(word) %>
        
        
      </h5>
      <% if word.translations.any? %>
      <p><% word.translations.each do |translation| %>
      <%= translation.definition.word.name if translation && translation.definition %>, 
      <% end %>
      </p>
      <% end %>
      
    </div>
    <% end %>
</div>

<div class="center-align"><small><%= paginate @words %> </small></div>

<br>

<a class="btn-floating btn-large waves-effect waves-light right" href="/words/new"><i class="material-icons">edit</i></a>