<h3 class="center-align">Dictionnaire français</h3>

 <div class="collection">
    <% @words.each do |word| %>
      <div class="collection-item">
      <h5><%= link_to word.name.titleize, word_path(word) %> <small>(<i><%= word.prononciation if word.prononciation %></i>)</small>
        
        <span class="new badge purple" data-badge-caption="définitions"><%= word.definitions.count %></span>
      </h5>
      <p><%= word.translations.first.definition.word.name if word.translations.any? %></p>
      
    </div>
    <% end %>
</div>

<br>

<a class="btn-floating btn-large waves-effect waves-light right" href="/words/new"><i class="material-icons">edit</i></a>