@import "materialize/components/color";
$primary-color: color("teal", "lighten-1") !default;
$secondary-color: color("purple", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

@import url('https://fonts.googleapis.com/css?family=Courgette|Shadows+Into+Light');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.home-page-search {
	margin-top: 150px;
	font-size: 2.4em;
}

.bigger {
	font-size: 3.4em;
}

.monoko {
	font-family: 'Shadows Into Light', cursive;
	/* font-family: 'Courgette', cursive; */
}

.search_bar {
  border-bottom: 1px solid black !important;
}

.search_bar_btn {
  color: black;
  background-color: #ba68c800;
  padding: unset;
  height: 55px;
}